<div class="body">
  <h1>About</h1>
  <div class="about-content">
    <div>
      <img class="img-nicole" src="/assets/autumn.jpg" alt="" />
      <p>
        Growing up I never had a specific profession I aspired to but I did have
        a deep need to contribute to the greater good be it through helping
        others or the environment. This need and my never ending desire to
        understand humans drove me to earn a bachelor's degree in psychology.
        (With a minor in Spanish so I could communicate with even more humans!)
      </p>
      <p>
        Self discovery led me to the study of yoga and mediation and eventually
        a 200 hour yoga teacher training. Since graduating in 2018 I’ve been
        teaching weekly classes. I decided it was time to create a website for
        my yoga business and that decision was the start of a new journey.
      </p>
      <p>
        The template I used to create my site was not quite what I wanted and
        that's when I realized I could actually go into the code and make
        changes, it was like magic! I began dabbling in learning programming
        online. Flash forward to COVID and transitioning to teaching yoga
        online. This experience was the spark of my passion project -- to create
        an intuitive all encompassing website for fitness professionals who
        teach online.
      </p>
      <p>
        After a year of online studying and creating a blog site I knew
        programming was a career I wanted to pursue. I enrolled in an intensive
        twelve week frontend bootcamp at Grand Circus where I learned the
        technical skills required to create beautiful, user friendly
        applications.
      </p>
      <p>
        I am looking forward to continued learning and growing in my skills. I
        am freelancing with individuals that require websites for their small
        businesses.
      </p>
      <p>
        It is important for me to work with a company whose values align with my
        own. Such as continual growth and innovation. My understanding of the
        human brain coupled with my technical skills enable me to create high
        functioning applications that create a memorable experience. I am
        looking forward to bringing my skills and passion to a full time role.
      </p>
      <p>Feel free to reach out directly at dreon.nicole@gmail.com</p>
      <p>
        Personal Interests: yoga, biking, meditation, snowboarding, camping,
        travel.
      </p>
    </div>
    <ul>
      <h2>Technical Skills</h2>
      <li>JavaSrcipt</li>
      <li>TypeScript</li>
      <li>Angular</li>
      <li>HTML5</li>
      <li>CSS</li>
      <li>Node.JS</li>
      <li>Git/GitHub</li>
      <li>SQL</li>
      <li>Web APIs</li>
      <li>Debug</li>
      <li>Mobile First</li>
      <li>Responsive Design</li>
    </ul>
  </div>
  <p>Download my <a href="/assets/NicoleDreon.pdf" download>resume</a></p>
</div>
