<div class="projects-continer">
  <h1>Projects</h1>
  <div class="project-card">
    <img
      class="img"
      src="/assets/YoungChef.png"
      alt="Mobile and desktop view of Young Chef homepage"
    />
    <div>
      <h3 class="project-title">Young Chef</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        quaerat facilis rem fuga iure quia vero nisi expedita? Autem delectus
        exercitationem aut at consequuntur, laboriosam quos explicabo esse eaque
        alias.
      </p>
      <p>Technology Used: JavaScript, TypeScript, Angular, API, HTML5, CSS</p>

      <a
        class="young-chef-link"
        href="https://youngchef.surge.sh/"
        target="blank"
        >Visit Site</a
      >
    </div>
  </div>
  <div class="project-card">
    <!-- <div> -->
    <img
      class="img mobile-img"
      src="/assets/RecipeFinder1.png"
      alt="Mobile and desktop view of Recipe Finder"
    />
    <div>
      <h3 class="project-title">Recipe Finder</h3>
      <p>
        Built in Angular utalizing an API to pull in recipies based on query
        parameters entered by the user. Find, favorite, and save recipies.
      </p>
      <p>Technology Used: JavaScript, TypeScript, Angular, HTML5, CSS</p>
      <a
        class="young-chef-link"
        href="https://gc-recipefinder.surge.sh/home"
        target="blank"
        >Visit Site</a
      >
    </div>
    <img
      class="img desktop-img"
      src="/assets/RecipeFinder1.png"
      alt="Mobile and desktop view of Recipe Finder"
    />
    <!-- </div> -->
  </div>
  <div class="project-card">
    <img
      class="img"
      src="/assets/QuickBrownFoxImg.png"
      alt="Mobile and desktop view of Quick Brown Fox"
    />
    <div>
      <h3 class="project-title">Quick Brown Fox</h3>

      <p>
        POS system for a fictional coffee shop. The goal was to deliver a clean
        and intuitive application.
      </p>
      <p>Technology Used: Vanilla JavaScript, HTML, CSS</p>
    </div>
  </div>
</div>
