<h1>Projects</h1>
<div>
  <h3>Young Chef</h3>
  <img
    class="img"
    src="/assets/YoungChef.png"
    alt="Mobile and desktop view of Young Chef homepage"
  />
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, qui
      perferendis illum nesciunt ab quod sequi consequatur sed debitis non
      aspernatur quam necessitatibus quibusdam, cupiditate voluptatibus deserunt
      similique adipisci corrupti?
    </p>
    <p>Technology Used: JavaScript, TypeScript, Angular, API, HTML5, CSS</p>

    <a class="young-chef-link" href="https://youngchef.surge.sh/">Live link</a>
  </div>
</div>
<h3>Recipe Finder</h3>
<div>
  <img
    class="img"
    src="/assets/RecipeFinder1.png"
    alt="Mobile and desktop view of Recipe Finder"
  />
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo temporibus
      labore sequi! Veniam corporis, quam quaerat totam ratione magni, facere
      recusandae inventore cum consequatur earum veritatis, expedita similique
      labore dolorum!
    </p>
    <p>Technology Used: JavaScript, TypeScript, Angular, HTML5, CSS</p>
  </div>
</div>
<h3>Quick Brown Fox</h3>
<div class="brown-fox-container">
  <img
    class="img"
    src="/assets/QuickBrownFoxImg.png"
    alt="Mobile and desktop view of Quick Brown Fox"
  />
  <!-- <div> -->
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure dolorem
    laudantium natus voluptate cumque, similique quia labore at ducimus facere
    quisquam nihil in facilis pariatur totam ipsa eveniet vitae et.
  </p>
  <p>Technology Used: Vanilla JavaScript, HTML, CSS</p>
  <!-- </div> -->
</div>
