.projects-continer {
  /* margin: 10px; */
}
.project-card {
  /* border: black solid 2px; */
  margin: 20px 0;
  background-color: tan;
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  width: 80vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.young-chef-link {
  text-decoration: none;
  border: black 1px solid;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  width: 50%;
  justify-content: center;
}
