<div class="projects-continer">
  <h1>Projects</h1>
  <div class="project-card">
    <h3>Young Chef</h3>
    <img
      class="img"
      src="/assets/YoungChef.png"
      alt="Mobile and desktop view of Young Chef homepage"
    />
    <div class="test">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        quaerat facilis rem fuga iure quia vero nisi expedita? Autem delectus
        exercitationem aut at consequuntur, laboriosam quos explicabo esse eaque
        alias.
      </p>
      <p>Technology Used: JavaScript, TypeScript, Angular, API, HTML5, CSS</p>

      <a
        class="young-chef-link"
        href="https://youngchef.surge.sh/"
        target="blank"
        >Live link</a
      >
    </div>
  </div>
  <div class="project-card">
    <h3>Recipe Finder</h3>
    <div>
      <img
        class="img"
        src="/assets/RecipeFinder1.png"
        alt="Mobile and desktop view of Recipe Finder"
      />
      <div>
        <p>
          Built in Angular utalizing an API to pull in recipies based on query
          parameters entered by the user. Find, favorite, and save recipies.
        </p>
        <p>Technology Used: JavaScript, TypeScript, Angular, HTML5, CSS</p>
      </div>
    </div>
  </div>
  <div class="project-card">
    <h3>Quick Brown Fox</h3>
    <div class="brown-fox-container">
      <img
        class="img"
        src="/assets/QuickBrownFoxImg.png"
        alt="Mobile and desktop view of Quick Brown Fox"
      />
      <!-- <div> -->
      <p>
        POS system for a fictional coffee shop. The goal was to deliver a clean
        and intuitive application.
      </p>
      <p>Technology Used: Vanilla JavaScript, HTML, CSS</p>
      <!-- </div> -->
    </div>
  </div>
</div>
