.projects-continer {
  margin: 10px;
}
.project-card {
  /* border: black solid 2px; */
  margin: 20px 0;
  /* background-color: tan; */
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.project-title {
  margin-top: 15px;
}
.img {
  width: 80vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.desktop-img {
  display: none;
}
.young-chef-link {
  text-decoration: none;
  border: black 1px solid;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .project-card {
    flex-direction: row;
  }
  .img {
    width: 40vw;
    /* margin: 0 20px; */
  }
  .young-chef-img,
  .quick-brown-fox-img {
    margin-right: 30px;
  }
  .recipe-finder-img {
    margin-left: 30px;
  }
  .mobile-img {
    display: none;
  }
  .desktop-img {
    display: inline;
  }
}
