<h1>Contact</h1>

<div class="test">
  <form
    class="form"
    action="mailto:nicole.m.dreon@gmail.com"
    method="get"
    enctype="text/plain"
  >
    <input type="text" id="name" name="name" placeholder="Your name" />

    <input type="text" id="email" name="email" placeholder="Email address" />
    <textarea
      id="message"
      name="message"
      placeholder="Write your message here"
      style="height: 200px"
    ></textarea>
    <input class="submit-button" type="submit" />
    <!-- <button><a>Submit</a></button> -->
    <input type="submit" name="submit" value="Send" />
    <input type="reset" name="reset" value="Clear Form" />
  </form>
</div>
