.nav-container a {
  text-decoration: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-options {
  display: flex;
  list-style-type: none;
}
.nav-item {
  margin: 0 10px;
}
